<!DOCTYPE html>
<html>
  <head>
    <title>Medium</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans|Source+Sans+Pro|PT+Sans:600|Lato|Karla|Ubuntu|Playfair+Display:900" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
